/*
    Document   : public/css/styles.css
    Created on : 2016-01-14 09:16 AM
    Author     : janhajk
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}